@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.container {
    max-width: 1370px;
    margin: 0 auto;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}
.nav-wrapper{
    background: rgb(74, 143, 132);
    box-sizing: border-box;
    padding: 10px 90px;
    display: flex;
}

.text{
    color: #fff;
    font-size: 55px;
    margin-top: 0%;
}


.nav-lists {
    display: flex;
    margin-left: 43%;
    margin-right: 5%;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
   
}
header ul li a{
    color: #fff;
    text-decoration: none;
}

li.nav-list {
    margin-left: 95px;
    font-size: 20px;
}
li.nav-list:hover{
    
    /* border-radius: 2px; */
    font-size: 25px;
    transition: 0.6s;
}


.banner-section {
    height: 60vh;
    width: 100%;
    padding: 173px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

    

.button a{
    display: inline-block;
    padding: 20px 50px;
    background: rgb(255, 220, 156);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(26, 24, 24);
    font-size: 40px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s linear;
}
.button a:hover {
    background: rgb(125, 26, 26);
    color: rgb(222, 188, 124);
}


.text {
    margin-top: 93px;
    flex-direction: column;
    text-align: center;
}
li {
    list-style: none;
}
.lists {
    color: rgb(6, 64, 49);
}
.short-intro{
    text-align: left;
    font-size: 34px;
    font-weight: 100;
    color:  rgb(74, 143, 132);
}
.a{
    font-size: 50px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(74, 143, 132);
    margin-top: 7%;
}
p.Citation {
    font-size: 27px;
    color:rgb(3, 3, 3);

}
.second-part{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
} 
.contain{
    position: relative;
    width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%  ;
}
.contain .card{
    width: 308px;
    position: relative;
    height: 400px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0.5px 10px; */
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    background: rgb(122 223 201);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}  
.contain .card .img-box{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 50px rgb(16, 113, 87); 


}
.container .card .img-box img{
   max-width: 20%;
   border-radius: 100px;

}
.img-box:hover img{
 transform: scale(1.1);

}
img {
    max-width: 100%;
}
.r h1{
    text-align: center;
    margin-bottom: 2%;
    font-size: 60px;
}

.r h2{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 5%;
    background-color: aliceblue;
    font-size: 30px;
}
.r h3{
    text-align: left;
    width: 50%;
    background-color: antiquewhite;
    font-size: 20px;
}
.three{
    display: flex;
}
.l img{
    margin-top: 20% 20% 20% 20%;
}
.left h1{
    text-align: center;
    font-size: 40px;
}
.edulevels{
    margin-left: 10%;
}
.left h2{
    
}

.second-part img {
    width: 260px;
    height: 260px;
}

.second-part img {
    width: 260px;
    height: 260px;
}



section.three .into-wrapper {
    display: flex;
}

section.three .into-wrapper .intro-content {
    flex: 0 0 40%;
    width: 40%;
    /* padding: 40px 36px; */
    margin: auto 0;
}

section.three .into-wrapper .intro-photo {
    flex: 0 0 60%;
    width: 60%;
}

.intro-content h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
}

.intro-content p {
    font-size: 20px;
    color: #53575A;
}

.intro-photo img {
    width: 650px;
    height: 500px;
    object-fit: cover;
    /* margin: 0 auto; */
}

.intro-photo {
    /* margin: 0 auto; */
    /* max-width: 700px; */
    display: flex;
    justify-content: center;
}

section.three {
    padding: 100px 0;
}

section.three .btn a {
    text-decoration: none;
    font-size: 18px;
    color: #7DC22B;
}